.ItemHeader {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: min-content auto;
    // Break out of view content
    margin: -1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: white;

    &__heading {
        margin: 0;
    }
}
