@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.Button {
    @include form-element-styles;

    background: transparent;
    border: 1px solid $border-color;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem 1rem;

    &--primary {
        background: $primary-color;
        border-color: $primary-color;
        color: white;

        &.Button--with-fill svg {
            fill: white;
        }
    }

    &--with-icon {
        @include set-round-element-size(48px);

        align-items: center;
        display: inline-flex;
        justify-content: center;
        position: relative;

        .Icon {
            position: absolute;
        }

        &--fill-icon {
            .Icon__svg {
                fill: white;
            }
        }

        &.Button--with-small-icon {
            @include set-round-element-size(32px);
            border-radius: $border-radius--small;
        }
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.75;
    }
}
