@import 'styles/mixins.scss';
@import 'styles/variables.scss';

@mixin input-styles {
    @include form-element-styles;

    border: 1px solid $border-color;
    font-family: inherit;
    font-size: inherit;
    padding: 0.5rem;
}

.Form {
    display: grid;
    grid-gap: 2rem;
}

.Field {
    display: grid;
    grid-gap: 0.5rem;
    position: relative;

    &__label {
        display: block;
        font-weight: bold;
    }

    &__required {
        color: $red-900;
        margin-left: 0.125rem;
    }

    &__description {
        color: rgba(0, 0, 0, 0.75);
    }

    &__input {
        @include input-styles;
    }

    &--error {
        .Field__input {
            border: 1px solid $red-900;
        }
    }

    &__error {
        color: $red-900;
        margin: 0;
        position: absolute;
        right: 0;
        top: calc(100% + 0.25rem);
    }

    &.TextareaField {
        .Field__input {
            min-height: 5rem;
        }
    }
}

.SearchField {
    @include input-styles;
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5rem;

    .Icon {
        color: $gray-500;
    }

    [type='search'] {
        box-shadow: none;
        border: none;
        padding: 0;
        // Safari only
        -webkit-appearance: none;
    }

    &:focus-within {
        .Icon {
            color: $primary-color;
        }
    }
}
