@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.Form {
    display: grid;
    grid-gap: 2rem;
}

.Field {
    display: grid;
    grid-gap: 0.5rem;
    position: relative;

    &__label {
        display: block;
        font-weight: bold;
    }

    &__description {
        color: rgba(0, 0, 0, 0.75);
    }

    &__input {
        @include form-focus-styles;

        border: 1px solid $border-color;
        font-family: inherit;
        font-size: inherit;
        padding: 0.5rem;
    }

    &--error {
        .Field__input {
            border: 1px solid firebrick;
        }
    }

    &__error {
        color: firebrick;
        margin: 0;
        position: absolute;
        right: 0;
        top: calc(100% + 0.25rem);
    }

    &.TextareaField {
        .Field__input {
            min-height: 4rem;
        }
    }
}
