.AccountViewContainer {
    header {
        align-items: center;
        display: grid;
        gap: 1rem;
        grid-template-columns: min-content auto;
    }

    img {
        width: 4rem;
    }

    h1 {
        margin: 0;
    }

    main {
        margin: 2rem 0;
    }
}
