@import 'styles/variables.scss';

@mixin focus-styles {
    &:focus, &:focus-within {
        border-color: $primary-color;
        box-shadow: 0 0 0 4px $primary-color--faint;

        outline: 4px solid transparent;
    }

    &::-moz-focus-inner {
        border: none;
    }
}

@mixin form-element-styles {
    @include focus-styles;

    border-radius: $border-radius;
}

@mixin reset-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin set-round-element-size($size) {
    border-radius: $border-radius;
    height: $size;
    max-height: $size;
    max-width: $size;
    width: $size;
}

@mixin visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}
