@import 'styles/variables.scss';

@mixin form-focus-styles {
    &:focus {
        border-color: $accent-color;
        box-shadow: 0 0 0 4px $faint-accent-color;

        outline: 4px solid transparent;
    }

    &::-moz-focus-inner {
        border: none;
    }
}

@mixin reset-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin set-round-element-size($size) {
    border-radius: $size;
    height: $size;
    max-height: $size;
    max-width: $size;
    width: $size;
}
