@import './md-colors.scss';

// COLORS
$border-color: $gray-400;
$primary-color: $purple-800;
$primary-color--faint: rgba($primary-color, 0.5);

// POSITIONING
$border-radius: 0.5rem;
$border-radius--small: 0.25rem;
