@import 'styles/variables.scss';

.RecommendationsList {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;

    &__header {
        padding: 0.5rem;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        align-items: center;
        border-top: 1px solid $border-color;
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;

        button {
            background: white;
        }

        &:hover {
            background: $gray-50;
        }
    }

    &__link {
        margin-right: 0.5rem;
    }
}
