.RecommendationsList {
    border: 1px solid #ddd;

    + .RecommendationsList {
        margin-top: 1rem;
    }

    &__header {
        padding: 0.5rem;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        align-items: center;
        border-top: 1px solid #f1f1f1;
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;

        &:hover {
            background: rgba(0, 0, 0, 0.025);
        }
    }

    &__link {
        margin-right: 0.5rem;
    }
}
