@import 'styles/variables.scss';

.BibleVerse {
    background: whitesmoke;
    border: 1px solid $border-color;
    padding: 0.5rem;

    &__blockquote {
        margin: 0;
        padding: 0.5rem;

        p {
            margin: 0;
        }
    }

    &__citation {
        display: block;
        margin-top: 0.5rem;
        text-align: right;

        &::before {
            content: '—';
            margin-right: 0.25rem;
        }
    }

    &__header {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: min-content 1fr;
    }

    &__heading {
        margin: 0;
    }
}
