@import 'styles/variables.scss';

.BibleVerse {
    background: whitesmoke;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 1rem;

    &__blockquote {
        margin: 0;
        margin-top: 0.5rem;

        p {
            margin: 0;
        }
    }

    &__citation {
        display: block;
        margin-top: 0.5rem;
        text-align: right;

        &::before {
            content: '—';
            margin-right: 0.25rem;
        }
    }
}
