@import 'styles/variables.scss';

.ViewHeader {
    $text-color: $gray-900;

    background: $gray-200;
    border-bottom: 1px solid $border-color;
    color: $text-color;
    height: 48px;

    &__container {
        align-items: center;
        display: grid;
        grid-template-columns: 48px auto min-content;
        // Break out of container
        margin: 0 -1rem;
    }

    .Button,
    .LinkButton {
        border: none;
        border-radius: 0;
        color: $text-color;
        margin-bottom: -1rem;
        margin-top: -1rem;
    }

    .Button--with-fill svg {
        fill: $gray-900;
    }

    &__heading {
        font-size: 1rem;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__heading--centered {
        text-align: center;
    }
}
