@import 'styles/variables.scss';

.ItemTypeTile {
    color: $gray-900;
    text-decoration: none;

    .Button {
        padding: 1rem;
    }

    &__text {
        display: block;
        margin-top: 0.5rem;
    }
}
