@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.SortListRadio {
    border: none;
    margin: 0;
    padding: 0;

    &__legend {
        @include visually-hidden();
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    &__input {
        @include visually-hidden();
    }

    &__label {
        @include focus-styles;

        border: 1px solid $primary-color;
        border-radius: $border-radius;
        cursor: pointer;
        box-sizing: border-box;
        color: $primary-color;
        display: block;
        padding: 0.5rem;
        text-align: center;

        &--checked {
            background: $primary-color;
            color: white;
        }
    }
}
