@import 'styles/variables.scss';

.ItemsList {
    &__list-block {
        + .ItemsList__list-block {
            margin-top: 3rem;
        }
    }
    &__heading {
        margin-bottom: 1rem;
        margin-top: 0;
    }

    &__list {
        display: grid;
        grid-gap: 0.25rem;
    }

    &__item {
        margin: 0;
    }

    &__link {
        align-items: center;
        display: flex;
        padding: 0.5rem;
        text-decoration: none;

        &:hover {
            background: #f1f1f1;
        }
    }

    &__icon {
        $size: 1.5rem;

        align-items: center;
        background: $primary-color;
        border-radius: $size;
        color: white;
        display: flex;
        font-size: 75%;
        height: $size;
        justify-content: center;
        margin-right: 0.5rem;
        max-height: $size;
        max-width: $size;
        width: $size;
    }

    .Icon {
        margin-left: 0.5rem;
    }
}
